# Versioning and metadata
.git
.gitignore
.dockerignore

# Build dependencies
# dist

# Environment (contains sensitive data)
.env
__pycache__/

# Files not required for production
.editorconfig
Dockerfile
docker-compose.yml
README.md
docker
